.all-dogs {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dog-container {
  width: 210px;
  height: 200px;
}

.dog-name {
  color: deeppink;
}
